.calculator-wrapper {
    max-width: 420px;
    min-height: 70vh;
    margin: 0 auto;
  }
  
  button {
    font-size: 20px;
    border: 1px solid #333;
    cursor: pointer;
    width: auto;
    height: auto;
  }
  .modifiers button {
    background-color: pink;
  }
  .operations button {
    background-color: skyblue;
  }
  .digits button {
    background-color: white;
  }
  
  .calculator-wrapper,
  .subgrid {
    display: grid;
  }
  .calculator-wrapper {
    margin-top: 50px;
    border: 30px solid blue;
    grid-template-areas:
      "input input input input"
      "modif modif modif oper"
      "digit digit digit oper"
      "digit digit digit oper"
      "digit digit digit oper"
      "digit digit digit oper";
    grid-auto-columns: 1fr;
    grid-template-rows: 150px 0.6fr 0.6fr 0.6fr 0.6fr 0.6fr;
  }
  .show-input {
    grid-area: input;
  }
  .show-total {
    grid-area: total;
  }
  .modifiers {
    grid-area: modif;
  }
  .operations {
    grid-area: oper;
  }
  .digits {
    grid-area: digit;
  }
  
  .show-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    overflow: scroll;
    border-bottom: 20px solid blue;
    overflow-wrap: anywhere;
  }

  .show-total {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 50px;
  }
  
  .modifiers {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
  
  .digits {
    display: flex;
    flex-wrap: wrap;
  }
  .digits button {
    flex: 1 0 26%;
  }
  